{{#each Recipie}}
<div class="card card-body mb-2"style='background-color:'>
  <h4>{{title}}</h4>
  <p>{{details}}</p>
  <a class="btn btn-dark btn-block" 
  href="/remedy/add">Edit</a>
</form>
</div>
{{else}}
<p>opps! no Recipies are here</p>
{{/each}}