

<div class="jumborton text-center">
  
  <img class="bg-featured" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaYKM41gbToUf0fWIWTP7su6fZd_Bvi6VNieYjGZQu9blbnsPK9o0CctsnXJRdlZBeasw&usqp=CAU/1200x400"></img>

  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Lets preserve your Secret Remidies !! Lets tryout Next Occation</p>
  <a href="/remedy/add" class="btn btn-dark btn-lg">Add Your Recipe</a>
</div>
